**/.tmp.drivedownload/

**/cmake-build-debug/
**/CMakeFiles/


Assignment01/CoffeeFactoryDesign/out
Assignment01/CoffeeFactoryDesign/.idea/workspace.xml
Assignment01/CoffeeFactoryDesign/.idea/misc.xml




Assignment01/BurgerBuilderDesign/out
Assignment01/BurgerBuilderDesign/.idea/workspace.xml
Assignment01/BurgerBuilderDesign/.idea/misc.xml

