**/.tmp.drivedownload/
**/.idea/workspace.xml
**/.idea/misc.xml
*.class
Assignment02/StudentObserverPattern/.idea/modules.xml
Assignment02/StudentObserverPattern/.idea/uiDesigner.xml
Assignment02/VendorStatePattern/.idea/modules.xml
Assignment02/VendorStatePattern/.idea/vcs.xml
Assignment02/StudentObserverPattern/.idea/vcs.xml
Assignment02/Online/.idea/vcs.xml
Assignment02/Online/.idea/uiDesigner.xml
Assignment02/Online/.idea/modules.xml
