**/.tmp.drivedownload/
Assignment02/VendorStatePattern/.idea/misc.xml
Assignment02/StudentObserverPattern/out/production/StudentObserverPattern/ObserverDesign/Student.class
Assignment02/StudentObserverPattern/out/production/StudentObserverPattern/ObserverDesign/Software.class
Assignment02/StudentObserverPattern/out/production/StudentObserverPattern/ObserverDesign/Observer.class
Assignment02/StudentObserverPattern/out/production/StudentObserverPattern/ObserverDesign/Main.class
Assignment02/StudentObserverPattern/.idea/workspace.xml
Assignment02/StudentObserverPattern/.idea/vcs.xml
Assignment02/StudentObserverPattern/.idea/uiDesigner.xml
Assignment02/StudentObserverPattern/.idea/modules.xml
Assignment02/Online/.idea/misc.xml
Assignment01/CoffeeFactoryDesign/.idea/workspace.xml
Assignment01/BurgerBuilderDesign/out/production/BurgerBuilderDesign/BuilderDesign/Waiter.class
Assignment01/BurgerBuilderDesign/out/production/BurgerBuilderDesign/BuilderDesign/Customer.class
Assignment01/BurgerBuilderDesign/out/production/BurgerBuilderDesign/BuilderDesign/ChickenBurger.class
Assignment01/BurgerBuilderDesign/out/production/BurgerBuilderDesign/BuilderDesign/BurgerBuilder.class
Assignment01/BurgerBuilderDesign/out/production/BurgerBuilderDesign/BuilderDesign/Burger.class
Assignment01/BurgerBuilderDesign/out/production/BurgerBuilderDesign/BuilderDesign/BeefBurger.class
Assignment01/BurgerBuilderDesign/.idea/workspace.xml
Assignment01/BurgerBuilderDesign/.idea/misc.xml
Assignment02/VendorStatePattern/out/production/VendorStatePattern/StateDesign/VendorMachineState.class
Assignment02/VendorStatePattern/out/production/VendorStatePattern/StateDesign/VendingMachine.class
Assignment02/VendorStatePattern/out/production/VendorStatePattern/StateDesign/Main.class
Assignment02/VendorStatePattern/out/production/VendorStatePattern/StateDesign/InitialState.class
Assignment02/VendorStatePattern/out/production/VendorStatePattern/StateDesign/HasDrinkState.class
Assignment02/VendorStatePattern/out/production/VendorStatePattern/StateDesign/HasCoinState.class
Assignment02/VendorStatePattern/out/production/VendorStatePattern/StateDesign/DrinkSupply.class
Assignment02/VendorStatePattern/.idea/workspace.xml
Assignment02/VendorStatePattern/.idea/vcs.xml
Assignment02/VendorStatePattern/.idea/modules.xml
Assignment02/Online/out/production/Online/Count500.class
Assignment02/Online/out/production/Online/Count50.class
Assignment02/Online/out/production/Online/Count10.class
Assignment02/Online/out/production/Online/CheckValid.class
Assignment02/Online/out/production/Online/Chain.class
Assignment02/Online/out/production/Online/ATMUser.class
Assignment02/Online/.idea/workspace.xml
Assignment02/Online/.idea/vcs.xml
Assignment02/Online/.idea/uiDesigner.xml
Assignment02/Online/.idea/modules.xml
Assignment02/StudentObserverPattern/.idea/misc.xml
Assignment03/Adapter/.idea/workspace.xml
Assignment03/Adapter/.idea/vcs.xml
Assignment03/Adapter/.idea/uiDesigner.xml
Assignment03/Adapter/.idea/modules.xml
Assignment03/Adapter/.idea/misc.xml
Assignment03/Composite - Copy/.idea/workspace.xml
Assignment03/Composite - Copy/.idea/uiDesigner.xml
Assignment03/Composite - Copy/.idea/modules.xml
Assignment03/Composite - Copy/.idea/misc.xml
Assignment03/Composite/.idea/workspace.xml
Assignment03/Composite/.idea/uiDesigner.xml
Assignment03/Composite/.idea/modules.xml
Assignment03/Composite/.idea/misc.xml
Assignment03/Composite/out/production/Composite/composite_songgroup/iComposite.class
Assignment03/Composite/out/production/Composite/composite_songgroup/Main.class
Assignment03/Composite/out/production/Composite/composite_songgroup/Leaf.class
Assignment03/Composite/out/production/Composite/composite_songgroup/Composite.class
Assignment03/Composite/out/production/Composite/Composite2/iComposite.class
Assignment03/Composite/out/production/Composite/Composite2/CompositePatternEx.class
Assignment03/Composite/out/production/Composite/Composite2/Composite.class
Assignment03/Decorator/.idea/workspace.xml
Assignment03/Decorator/.idea/vcs.xml
Assignment03/Decorator/.idea/uiDesigner.xml
Assignment03/Decorator/.idea/modules.xml
Assignment03/Decorator/.idea/misc.xml


**/cmake-build-debug/
**/CMakeFiles/


Assignment01/CoffeeFactoryDesign/out
Assignment01/CoffeeFactoryDesign/.idea/workspace.xml
Assignment01/CoffeeFactoryDesign/.idea/misc.xml




Assignment01/BurgerBuilderDesign/out
Assignment01/BurgerBuilderDesign/.idea/workspace.xml
Assignment01/BurgerBuilderDesign/.idea/misc.xml

